.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.github/**
.gitignore
.yarnrc
bun.lock
esbuild.js
.vscode-test.mjs
media/icon.svg
.oxlintrc.json
**/tsconfig.json
**/*.map
**/*.ts
**/.vscode-test.*
.claude